<center>
    <h2>Nutrition Data from {{startDate}} to {{endDate}}</h2>
    <div class="parent grid-parent-upload">
        <div class="child">
            <h3>Macronutrient Data</h3>
            <table border=1 frame=void rules=rows width="80%">
                <tr>
                    <th style="text-align: center">Macronutrient</th>
                    <th style="text-align: center">Total Quantity</th>
                    <th style="text-align: center">Daily Average</th>
                </tr>
                <tr>
                    <td style="text-align: center">Calories</td>
                    <td style="text-align: center">{{macronutrients.$1}}</td>
                    <td style="text-align: center">{{macronutrientAverages.$1}}</td>
                </tr>
                <tr>
                    <td style="text-align: center">Total Fat</td>
                    <td style="text-align: center">{{macronutrients.$2}} g</td>
                    <td style="text-align: center">{{macronutrientAverages.$2}} g</td>
                </tr>
                <tr>
                    <td style="text-align: center">Cholesterol</td>
                    <td style="text-align: center">{{macronutrients.$3}} mg</td>
                    <td style="text-align: center">{{macronutrientAverages.$3}} mg</td>
                </tr>
                <tr>
                    <td style="text-align: center">Sodium</td>
                    <td style="text-align: center">{{macronutrients.$4}} mg</td>
                    <td style="text-align: center">{{macronutrientAverages.$4}} mg</td>
                </tr>
                <tr>
                    <td style="text-align: center">Total Carbohydrate</td>
                    <td style="text-align: center">{{macronutrients.$5}} g</td>
                    <td style="text-align: center">{{macronutrientAverages.$5}} g</td>
                </tr>
                <tr>
                    <td style="text-align: center">Dietary Fiber</td>
                    <td style="text-align: center">{{macronutrients.$6}} g</td>
                    <td style="text-align: center">{{macronutrientAverages.$6}} g</td>
                </tr>
                <tr>
                    <td style="text-align: center">Total Sugars</td>
                    <td style="text-align: center">{{macronutrients.$7}} g</td>
                    <td style="text-align: center">{{macronutrientAverages.$7}} g</td>
                </tr>
                <tr>
                    <td style="text-align: center">Protein</td>
                    <td style="text-align: center">{{macronutrients.$8}} g</td>
                    <td style="text-align: center">{{macronutrientAverages.$8}} g</td>
                </tr>
            </table>
        </div>
        <div class="child">
            <h3>Uploaded Food Predictions</h3>
            <table border=1 frame=void rules=rows width="80%">
                <tr>
                    <th style="text-align: center">Date</th>
                    <th style="text-align: center">Predicted Food</th>
                    <th style="text-align: center">Probability</th>
                </tr>
                {{#each predictions}}
                <tr>
                    <td style="text-align: center">{{this._ts}}</td>
                    <td style="text-align: center">{{this.prediction}}</td>
                    <td style="text-align: center">{{this.probability}} %</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
    <br><br><br>
    <a href="/">Return home</a>
</center>
